apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    service: mongo
  name: mongo
spec:
  ports:
  - name: "27017"
    port: 27017
    protocol: TCP
    targetPort: 27017
  selector:
    service: mongo
status:
  loadBalancer: {}
